@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$color-barley-white: #FFF4CB;
$color-supernova: #FFCC00;
$color-buddha-gold: #C69E00;
$color-silver-chalice:#A6A6A6;
$color-gray:#7F7F7F;
$color-black:#292929;
$color-sucess:#80FF80;
$color-danger:#FF7373;
$color-alert:#FFFF8C;
$color-alto:#E0E0E0;
$color-danger-hover:#CC5C5C;

$font1: 'Proza Libre', sans-serif;
$font2: 'Open Sans', sans-serif;

$max-width: 1200px;
